.footer {
    background-color: $colour-back-footer;
    padding: 30px 20px;
    position: absolute;
    left: 0;
    right: 0;
    @include tablet-version {
        padding: 30px 50px;
    }
    @include desktop-version {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 10%;
    }
    &__ttl {
        margin: 0 0 20px;
    }
    .links {
        display: flex;
        flex-direction: column;
        @include desktop-version {
            flex-direction: row;
            width: 100%;
            justify-content: space-evenly;
            margin: 10px 0;
        }
        &__link {
            margin-bottom: 10px;
            @include desktop-version {
                margin: 0;
                width: 25%;
                text-align: center;
            }
        }
    }
    i {
        width: 16px;
        max-width: 16px;
        margin-right: 10px;
    }
}