@keyframes beat {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes translate-top {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}
* {
  font-family: "Roboto", sans-serif;
}

.location {
  font-weight: 500;
  color: #373737;
}

.xploration__ttl {
  font-size: 1.6em;
}
.xploration__txt {
  font-weight: 300;
}

.rule {
  font-weight: 500;
}
.rule__prepend {
  color: #fff;
}

.card-footer-name__ttl {
  font-size: 1.1em;
}
.card-footer-name__txt {
  font-weight: 300;
}
.card-footer-label .card-footer__icon--checked::before {
  color: transparent;
  font-weight: bold;
}

.menu__icon--checked::before {
  color: transparent;
  font-weight: bold;
}

.dishes-list__ttl {
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
}
.dishes-list .dish-name__ttl {
  font-size: 1em;
}
.dishes-list .dish-name__txt {
  font-size: 0.9em;
  font-weight: 300;
}
.dishes-list .dish-price__txt {
  font-weight: bold;
}
.dishes-list .dish-tick {
  color: #fff;
}

.footer {
  color: #fff;
}
.footer__ttl {
  font-family: "Shrikhand", cursive;
  font-size: medium;
}
.footer .links {
  font-weight: 500;
}
.footer .links__link:hover {
  font-style: italic;
}

.btn {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  background-image: linear-gradient(to top left, #9356DC 10%, #FF79DA 100%);
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-out;
  transition: all 0.3s;
}
.btn:hover {
  cursor: pointer;
  background-image: linear-gradient(to top left, #9256dcd8 0.5%, #FF79DA 100%);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease-out;
  transition: all 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}

.new {
  background-color: #99E2D0;
  color: #278870;
  display: block;
  width: max-content;
  position: absolute;
  right: 35px;
  margin-top: 15px;
  padding: 8px 10px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 0.8em;
  animation: beat 2.5s infinite;
}
.new::after {
  content: "Nouveau";
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
}
.header__previous {
  position: absolute;
  left: 20px;
}
.header-menu {
  position: fixed;
  width: calc(100% - 40px);
}

.footer {
  background-color: #353535;
  padding: 30px 20px;
  position: absolute;
  left: 0;
  right: 0;
}
.footer__ttl {
  margin: 0 0 20px;
}
.footer .links {
  display: flex;
  flex-direction: column;
}
.footer .links__link {
  margin-bottom: 10px;
}
.footer i {
  width: 16px;
  max-width: 16px;
  margin-right: 10px;
}

.location {
  background-color: #EAEAEA;
  box-shadow: inset 0 0.2em rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.location__icon {
  position: absolute;
  left: 25%;
}
.location__txt {
  position: relative;
}

.xploration {
  background-color: #F6F6F6;
  padding: 50px 30px;
  text-align: center;
}
.xploration__ttl {
  margin-top: 0;
}
.xploration__txt {
  margin-bottom: 30px;
}
.xploration .btn {
  padding: 15px 20px;
}

.functioning {
  padding: 20px;
}
.functioning .rule {
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 20px;
  padding: 10px 30px;
  border-radius: 25px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.functioning .rule:hover {
  background-color: #9256dc32;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.functioning .rule:hover .rule__icon {
  color: #9356DC;
}
.functioning .rule__prepend {
  position: absolute;
  left: 22px;
  background-color: #9356DC;
  padding: 3px 8px;
  border-radius: 50%;
}
.functioning .rule__icon {
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.restaurants {
  background-color: #F6F6F6;
  padding: 50px 20px;
}
.restaurants .card {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-out;
}
.restaurants .card:hover {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease-out;
}
.restaurants .card-img {
  display: flex;
  height: 180px;
  border-radius: 15px 15px 0 0;
}
.restaurants .card:nth-child(1) .card-img {
  background: center/cover url("../../public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.restaurants .card:nth-child(2) .card-img {
  background: center/cover url("../../public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.restaurants .card:nth-child(3) .card-img {
  background: center/cover url("../../public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.restaurants .card:nth-child(4) .card-img {
  background: center/cover url("../../public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.restaurants .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 15px;
}
.restaurants .card-footer-name {
  width: 90%;
}
.restaurants .card-footer-name__ttl {
  margin: 0 0 5px;
}
.restaurants .card-footer-name__txt {
  margin: 0;
}
.restaurants .card-footer__input {
  display: none;
}
.restaurants .card-footer__input:checked ~ .card-footer-label .card-footer__icon {
  transform: scaleY(0);
  transition: transform 0.5s ease-out;
}
.restaurants .card-footer__input:checked ~ .card-footer-label .card-footer__icon--checked {
  transform: scaleY(1);
  transition: transform 0.5s ease-out;
}
.restaurants .card-footer__input:checked ~ .card-footer-label .card-footer__icon--checked::before {
  background-clip: text;
  background-image: linear-gradient(to top left, #9256dcd8 0.5%, #FF79DA 100%);
}
.restaurants .card-footer-label {
  cursor: pointer;
}
.restaurants .card-footer-label .card-footer__icon {
  position: absolute;
  right: 40px;
  transform: scaleY(1);
  transition: transform 0.5s ease-out;
}
.restaurants .card-footer-label .card-footer__icon--checked {
  position: absolute;
  right: 40px;
  transform: scaleY(0);
  transition: transform 0.5s ease-out;
}
.restaurants .card-footer-label .card-footer__icon--checked::before {
  background-clip: text;
  background-image: linear-gradient(to top left, #9256dcd8 0.5%, #FF79DA 100%);
}

.main__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: fixed;
  top: 64px;
}

.meals {
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
  padding: 30px 15px;
  position: relative;
  top: 220px;
  margin-bottom: 220px;
  display: flex;
  flex-direction: column;
}
.meals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meals-header__ttl {
  font-family: "Shrikhand", cursive;
  font-size: 1.8em;
  margin: 0;
}
.meals-header .menu__input {
  display: none;
}
.meals-header .menu__input:checked ~ .menu-label .menu__icon {
  transform: scaleY(0);
  transition: transform 0.5s ease-out;
  transform-origin: bottom center;
}
.meals-header .menu__input:checked ~ .menu-label .menu__icon--checked {
  transform: scaleY(1);
  transition: transform 0.5s ease-out;
  transform-origin: bottom center;
}
.meals-header .menu__input:checked ~ .menu-label .menu__icon--checked::before {
  background-clip: text;
  background-image: linear-gradient(to top left, #9256dcd8 0.5%, #FF79DA 100%);
}
.meals-header .menu-label {
  cursor: pointer;
}
.meals-header .menu-label .menu__icon {
  position: absolute;
  right: 30px;
  transform: scaleY(1);
  transform-origin: bottom center;
  transition: transform 0.5s ease-out;
}
.meals-header .menu-label .menu__icon--checked {
  position: absolute;
  right: 30px;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: transform 0.5s ease-out;
}
.meals-header .menu-label .menu__icon--checked::before {
  background-clip: text;
  background-image: linear-gradient(to top left, #9256dcd8 0.5%, #FF79DA 100%);
}
.meals .dishes-list {
  margin-top: 30px;
}
.meals .dishes-list__ttl {
  margin: 0;
}
.meals .dishes-list__line {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 5px;
}
.meals .dishes-list .dish {
  margin: 15px 0 10px;
  border-radius: 15px;
  background-color: #fff;
  animation: translate-top 1s ease-out;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-out;
  display: flex;
  align-items: center;
}
.meals .dishes-list .dish-name {
  width: 80%;
  margin: 12px 0 12px 10px;
}
.meals .dishes-list .dish-name__ttl {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 5px 0;
}
.meals .dishes-list .dish-name__txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.meals .dishes-list .dish__input {
  display: none;
}
.meals .dishes-list .dish__input:checked ~ .dish-name {
  width: 60%;
}
.meals .dishes-list .dish__input:checked ~ .dish-price-tick {
  width: 40%;
}
.meals .dishes-list .dish__input:checked ~ .dish-price-tick .dish-price {
  margin-right: 0;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.5s ease-out;
}
.meals .dishes-list .dish__input:checked ~ .dish-price-tick .dish-tick {
  transform: scaleX(1);
  transition: transform 0.5s ease-out;
}
.meals .dishes-list .dish__input:checked ~ .dish-price-tick .dish-tick__icon {
  transform: rotateZ(0);
  transition: transform 0.5s ease-out;
}
.meals .dishes-list .dish-price-tick {
  display: flex;
  width: 20%;
}
.meals .dishes-list .dish-price-tick .dish-price {
  margin: 12px 10px 12px 0;
  height: 40px;
  display: flex;
  align-items: end;
  justify-content: center;
  transform: translateX(50%);
  transition: transform 0.5s ease-out;
}
.meals .dishes-list .dish-price-tick .dish-price__txt {
  margin: 0;
}
.meals .dishes-list .dish-price-tick .dish-tick {
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  cursor: pointer;
  background-color: #99E2D0;
  transform: scaleX(0);
  transition: transform 0.5s ease-out;
  transform-origin: top right;
}
.meals .dishes-list .dish-price-tick .dish-tick__icon {
  transform: rotateZ(-360deg);
  transition: transform 0.5s ease-out;
}
.meals .dishes-list .dish:hover {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease-out;
}
.meals .btn {
  align-self: center;
  margin: 40px auto;
  padding: 15px 45px;
}

/*# sourceMappingURL=style.css.map */
