@keyframes beat {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes translate-top {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  0% {
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}
* {
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header__previous {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 992px) {
  .header__previous {
    font-size: 1.8em;
  }
}

.location {
  font-weight: 500;
  color: #373737;
}
@media only screen and (min-width: 992px) {
  .location__icon {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 992px) {
  .location__txt {
    font-size: 1.2em;
  }
}

.xploration__ttl {
  font-size: 1.6em;
}
@media only screen and (min-width: 992px) {
  .xploration__ttl {
    font-size: 2em;
  }
}
.xploration__txt {
  font-weight: 300;
}
@media only screen and (min-width: 992px) {
  .xploration__txt {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 992px) {
  .functioning__ttl {
    font-size: 1.8em;
  }
}

.rule {
  font-weight: 500;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .rule {
    font-size: 1.1em;
  }
}
.rule__prepend {
  color: #fff;
}
@media only screen and (min-width: 992px) {
  .rule__prepend {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 992px) {
  .rule__icon {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 992px) {
  .rule__txt {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 992px) {
  .restaurants__ttl {
    font-size: 1.8em;
  }
}

.card-footer-name__ttl {
  font-size: 1.1em;
}
@media only screen and (min-width: 992px) {
  .card-footer-name__ttl {
    font-size: 1.2em;
  }
}
.card-footer-name__txt {
  font-weight: 300;
}
@media only screen and (min-width: 992px) {
  .card-footer-name__txt {
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 992px) {
  .card-footer-label .card-footer__icon {
    font-size: 1.8em;
  }
}
@media only screen and (min-width: 992px) {
  .card-footer-label .card-footer__icon--checked {
    font-size: 1.8em;
  }
}
.card-footer-label .card-footer__icon--checked::before {
  color: transparent;
  font-weight: bold;
}

.menu__icon--checked::before {
  color: transparent;
  font-weight: bold;
}

@media only screen and (min-width: 992px) {
  .meals-header__ttl {
    font-size: 2em;
  }
}

@media only screen and (min-width: 992px) {
  .menu-label {
    font-size: 1.4em;
  }
}

.dishes-list__ttl {
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) {
  .dishes-list__ttl {
    font-size: 1.2em;
  }
}
.dishes-list .dish-name__ttl {
  font-size: 1em;
}
.dishes-list .dish-name__txt {
  font-size: 0.9em;
  font-weight: 300;
}
.dishes-list .dish-price__txt {
  font-weight: bold;
}
.dishes-list .dish-tick {
  color: #fff;
}

.footer {
  color: #fff;
}
.footer__ttl {
  font-family: "Shrikhand", cursive;
  font-size: medium;
}
@media only screen and (min-width: 992px) {
  .footer__ttl {
    font-size: 1.2em;
  }
}
.footer .links {
  font-weight: 500;
}
.footer .links__link:hover {
  font-style: italic;
}

.btn {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  background-image: linear-gradient(to top left, #9356DC 10%, #FF79DA 100%);
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-out;
  transition: all 0.3s;
}
@media only screen and (min-width: 992px) {
  .btn {
    font-size: 1.2em;
  }
}
.btn:hover {
  cursor: pointer;
  background-image: linear-gradient(to top left, #9256dcd8 0.5%, #FF79DA 100%);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease-out;
  transition: all 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}

.background-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: disappear 0.5s 3s;
  animation-fill-mode: forwards;
}
.background-loader .loader {
  width: 150px;
  height: 150px;
}
.background-loader .loader-svg {
  width: 90%;
  fill: none;
}
.background-loader .loader-svg .load {
  transform-origin: 50% 50%;
  stroke-dasharray: 570;
  stroke-width: 20px;
}
.background-loader .loader-svg .load.one {
  stroke: #9356DC;
  animation: load 1.5s infinite;
}
.background-loader .loader-svg .load.two {
  stroke: #FF79DA;
  animation: load 1.5s infinite;
  animation-delay: 0.1s;
}
.background-loader .loader-svg .load.three {
  stroke: #99E2D0;
  animation: load 1.5s infinite;
  animation-delay: 0.2s;
}
.background-loader .loader-svg .point {
  animation: bounce 1.5s infinite ease-in-out;
}
.background-loader .loader-svg .point.one {
  fill: #9356DC;
  animation-delay: 0s;
}
.background-loader .loader-svg .point.two {
  fill: #FF79DA;
  animation-delay: 0.1s;
}
.background-loader .loader-svg .point.three {
  fill: #99E2D0;
  animation-delay: 0.2s;
}

.new {
  background-color: #99E2D0;
  color: #278870;
  display: block;
  width: max-content;
  position: absolute;
  right: 35px;
  margin-top: 15px;
  padding: 8px 10px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 0.8em;
  animation: beat 2.5s infinite;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .new {
    right: 135px;
  }
}
@media only screen and (min-width: 992px) {
  .new {
    font-size: 1em;
    padding: 10px 12px;
    border-radius: 5px;
    margin: 0;
    top: 20px;
    right: 25px;
  }
}
.new::after {
  content: "Nouveau";
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
}
@media only screen and (min-width: 992px) {
  .header {
    padding: 50px 15%;
  }
}
@media only screen and (min-width: 992px) {
  .header__logo {
    width: 15em;
  }
}
.header__previous {
  position: absolute;
  left: 20px;
}
@media only screen and (min-width: 992px) {
  .header__previous {
    left: 50px;
  }
}
.header-menu {
  position: fixed;
  width: calc(100% - 40px);
  z-index: 1;
  background-color: white;
}
@media only screen and (min-width: 992px) {
  .header-menu {
    position: relative;
    width: auto;
  }
}

.footer {
  background-color: #353535;
  padding: 30px 20px;
  position: absolute;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    padding: 30px 50px;
  }
}
@media only screen and (min-width: 992px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10%;
  }
}
.footer__ttl {
  margin: 0 0 20px;
}
.footer .links {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .footer .links {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px 0;
  }
}
.footer .links__link {
  margin-bottom: 10px;
}
@media only screen and (min-width: 992px) {
  .footer .links__link {
    margin: 0;
    width: 25%;
    text-align: center;
  }
}
.footer i {
  width: 16px;
  max-width: 16px;
  margin-right: 10px;
}

.location {
  background-color: #EAEAEA;
  box-shadow: inset 0 0.2em rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .location {
    padding: 30px 15%;
  }
}
.location__icon {
  position: absolute;
  left: calc(50% - 80px);
}
@media only screen and (min-width: 992px) {
  .location__icon {
    left: calc(50% - 100px);
  }
}
.location__txt {
  position: relative;
}
@media only screen and (min-width: 992px) {
  .location__txt {
    margin: 0;
  }
}

.xploration {
  background-color: #F6F6F6;
  padding: 50px 30px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .xploration {
    padding: 80px 15%;
  }
}
.xploration__ttl {
  margin-top: 0;
}
.xploration__txt {
  margin-bottom: 30px;
}
@media only screen and (min-width: 992px) {
  .xploration__txt {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
.xploration .btn {
  padding: 15px 20px;
}
@media only screen and (min-width: 992px) {
  .xploration .btn {
    padding: 20px 25px;
  }
}

.functioning {
  padding: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .functioning {
    padding: 30px 50px;
  }
}
@media only screen and (min-width: 992px) {
  .functioning {
    padding: 50px 15%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .functioning__ttl {
    margin-bottom: 30px;
  }
}
.functioning .rules {
  counter-reset: counterRule;
}
@media only screen and (min-width: 992px) {
  .functioning .rules {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.functioning .rules .rule {
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 20px;
  padding: 10px 30px;
  border-radius: 25px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .functioning .rules .rule {
    margin: 0 60px 30px 75px;
  }
}
@media only screen and (min-width: 992px) {
  .functioning .rules .rule {
    position: relative;
    width: 40%;
    margin: 30px 15px 30px 25px;
  }
}
.functioning .rules .rule:hover {
  background-color: #9256dc32;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.functioning .rules .rule:hover .rule__icon {
  color: #9356DC;
}
.functioning .rules .rule__prepend {
  counter-increment: counterRule;
  position: absolute;
  left: 22px;
  background-color: #9356DC;
  padding: 3px 8px;
  border-radius: 50%;
}
.functioning .rules .rule__prepend::after {
  content: counter(counterRule);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .functioning .rules .rule__prepend {
    left: 110px;
  }
}
@media only screen and (min-width: 992px) {
  .functioning .rules .rule__prepend {
    left: -15px;
    padding: 5px 10px;
  }
}
.functioning .rules .rule__icon {
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 992px) {
  .functioning .rules .rule__icon {
    margin: 0 30px 0 15px;
  }
}

.restaurants {
  background-color: #F6F6F6;
  padding: 50px 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants {
    padding: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .restaurants {
    padding: 50px 15%;
  }
}
@media only screen and (min-width: 992px) {
  .restaurants .cards {
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.restaurants .cards .card {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-out;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants .cards .card {
    margin: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .restaurants .cards .card {
    width: 45%;
    position: relative;
    margin: 30px 10px;
    border-radius: 30px;
  }
}
.restaurants .cards .card:hover {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease-out;
}
.restaurants .cards .card-img {
  display: flex;
  height: 180px;
  border-radius: 15px 15px 0 0;
}
@media only screen and (min-width: 992px) {
  .restaurants .cards .card-img {
    height: 250px;
    border-radius: 30px 30px 0 0;
  }
}
.restaurants .cards .card:nth-child(1) .card-img {
  background: center/cover url("../../public/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.restaurants .cards .card:nth-child(2) .card-img {
  background: center/cover url("../../public/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.restaurants .cards .card:nth-child(3) .card-img {
  background: center/cover url("../../public/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.restaurants .cards .card:nth-child(4) .card-img {
  background: center/cover url("../../public/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.restaurants .cards .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 15px;
}
@media only screen and (min-width: 992px) {
  .restaurants .cards .card-footer {
    padding: 30px 30px 30px 25px;
  }
}
.restaurants .cards .card-footer-name {
  width: 90%;
}
.restaurants .cards .card-footer-name__ttl {
  margin: 0 0 5px;
}
@media only screen and (min-width: 992px) {
  .restaurants .cards .card-footer-name__ttl {
    margin-bottom: 10px;
  }
}
.restaurants .cards .card-footer-name__txt {
  margin: 0;
}
.restaurants .cards .card-footer__input {
  display: none;
}
.restaurants .cards .card-footer__input:checked ~ .card-footer-label .card-footer__icon {
  transform: scaleY(0);
  transition: transform 0.5s ease-out;
}
.restaurants .cards .card-footer__input:checked ~ .card-footer-label .card-footer__icon--checked {
  transform: scaleY(1);
  transition: transform 0.5s ease-out;
}
.restaurants .cards .card-footer__input:checked ~ .card-footer-label .card-footer__icon--checked::before {
  background-clip: text;
  background-image: linear-gradient(to top left, #9256dcd8 0.5%, #FF79DA 100%);
}
.restaurants .cards .card-footer-label {
  cursor: pointer;
}
.restaurants .cards .card-footer-label .card-footer__icon {
  position: absolute;
  right: 40px;
  transform: scaleY(1);
  transition: transform 0.5s ease-out;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants .cards .card-footer-label .card-footer__icon {
    right: 130px;
  }
}
.restaurants .cards .card-footer-label .card-footer__icon--checked {
  position: absolute;
  right: 40px;
  transform: scaleY(0);
  transition: transform 0.5s ease-out;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .restaurants .cards .card-footer-label .card-footer__icon--checked {
    right: 130px;
  }
}
.restaurants .cards .card-footer-label .card-footer__icon--checked::before {
  background-clip: text;
  background-image: linear-gradient(to top left, #9256dcd8 0.5%, #FF79DA 100%);
}

.body__img {
  display: none;
}
@media only screen and (min-width: 992px) {
  .body__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
  }
}

.main__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: fixed;
  top: 64px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main__img {
    height: 300px;
  }
}
@media only screen and (min-width: 992px) {
  .main__img {
    display: none;
  }
}

.meals {
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
  padding: 30px 15px;
  position: relative;
  top: 220px;
  margin-bottom: 220px;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .meals {
    top: 335px;
    margin-bottom: 335px;
    padding: 50px;
  }
}
@media only screen and (min-width: 992px) {
  .meals {
    margin: 220px 15%;
    padding: 50px;
    top: 0;
    border-radius: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.meals-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .meals-header {
    position: relative;
    width: 100%;
  }
}
.meals-header__ttl {
  font-family: "Shrikhand", cursive;
  font-size: 1.8em;
  margin: 0;
}
.meals-header .menu__input {
  display: none;
}
.meals-header .menu__input:checked ~ .menu-label .menu__icon {
  transform: scaleY(0);
  transition: transform 0.5s ease-out;
  transform-origin: bottom center;
}
.meals-header .menu__input:checked ~ .menu-label .menu__icon--checked {
  transform: scaleY(1);
  transition: transform 0.5s ease-out;
  transform-origin: bottom center;
}
.meals-header .menu__input:checked ~ .menu-label .menu__icon--checked::before {
  background-clip: text;
  background-image: linear-gradient(to top left, #9256dcd8 0.5%, #FF79DA 100%);
}
.meals-header .menu-label {
  cursor: pointer;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .meals-header .menu-label {
    right: 60px;
  }
}
@media only screen and (min-width: 992px) {
  .meals-header .menu-label {
    position: absolute;
    right: 0;
  }
}
.meals-header .menu-label .menu__icon {
  position: absolute;
  right: 30px;
  transform: scaleY(1);
  transform-origin: bottom center;
  transition: transform 0.5s ease-out;
}
.meals-header .menu-label .menu__icon--checked {
  position: absolute;
  right: 30px;
  transform: scaleY(0);
  transform-origin: bottom center;
  transition: transform 0.5s ease-out;
}
.meals-header .menu-label .menu__icon--checked::before {
  background-clip: text;
  background-image: linear-gradient(to top left, #9256dcd8 0.5%, #FF79DA 100%);
}
.meals .dishes-list {
  margin-top: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .meals .dishes-list {
    margin: 30px 30px 0;
  }
}
@media only screen and (min-width: 992px) {
  .meals .dishes-list {
    margin: 60px 0;
    width: 30%;
  }
}
.meals .dishes-list__ttl {
  margin: 0;
}
.meals .dishes-list__line {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 5px;
}
@media only screen and (min-width: 992px) {
  .meals .dishes-list__line {
    width: 50px;
    height: 4px;
    margin-top: 5px;
  }
}
.meals .dishes-list .first {
  animation: translate-top 1s ease-out;
  animation-delay: 0;
  animation-fill-mode: forwards;
}
.meals .dishes-list .second {
  animation: translate-top 1s ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
.meals .dishes-list .third {
  animation: translate-top 1s ease-out;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}
.meals .dishes-list .fourth {
  animation: translate-top 1s ease-out;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}
.meals .dishes-list .fifth {
  animation: translate-top 1s ease-out;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}
.meals .dishes-list .sixth {
  animation: translate-top 1s ease-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.meals .dishes-list .seventh {
  animation: translate-top 1s ease-out;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}
.meals .dishes-list .eighth {
  animation: translate-top 1s ease-out;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
}
.meals .dishes-list .ninth {
  animation: translate-top 1s ease-out;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
}
.meals .dishes-list .tenth {
  animation: translate-top 1s ease-out;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
}
.meals .dishes-list .dish {
  opacity: 0;
  margin: 15px 0 10px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-out;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .meals .dishes-list .dish {
    margin: 25px 20px;
  }
}
@media only screen and (min-width: 992px) {
  .meals .dishes-list .dish {
    margin: 30px 0;
  }
}
.meals .dishes-list .dish-name {
  width: 80%;
  margin: 12px 0 12px 10px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .meals .dishes-list .dish-name {
    width: 90%;
    margin: 18px 0 18px 15px;
  }
}
.meals .dishes-list .dish-name__ttl {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 5px 0;
}
.meals .dishes-list .dish-name__txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.meals .dishes-list .dish__input {
  display: none;
}
.meals .dishes-list .dish__input:checked ~ .dish-name {
  width: 60%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .meals .dishes-list .dish__input:checked ~ .dish-name {
    width: 80%;
  }
}
.meals .dishes-list .dish__input:checked ~ .dish-price-tick {
  width: 40%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .meals .dishes-list .dish__input:checked ~ .dish-price-tick {
    width: 20%;
  }
}
.meals .dishes-list .dish__input:checked ~ .dish-price-tick .dish-price {
  margin-right: 0;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.5s ease-out;
}
.meals .dishes-list .dish__input:checked ~ .dish-price-tick .dish-tick {
  transform: scaleX(1);
  transition: transform 0.5s ease-out;
}
.meals .dishes-list .dish__input:checked ~ .dish-price-tick .dish-tick__icon {
  transform: rotateZ(0);
  transition: transform 0.5s ease-out;
}
.meals .dishes-list .dish-price-tick {
  display: flex;
  width: 20%;
  cursor: pointer;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .meals .dishes-list .dish-price-tick {
    width: 10%;
  }
}
.meals .dishes-list .dish-price-tick .dish-price {
  margin: 12px 10px 12px 0;
  height: 40px;
  display: flex;
  align-items: end;
  justify-content: center;
  transform: translateX(50%);
  transition: transform 0.5s ease-out;
  width: 50%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .meals .dishes-list .dish-price-tick .dish-price {
    margin: 18px 10px 18px 0;
  }
}
.meals .dishes-list .dish-price-tick .dish-price__txt {
  margin: 0;
}
.meals .dishes-list .dish-price-tick .dish-tick {
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  cursor: pointer;
  background-color: #99E2D0;
  transform: scaleX(0);
  transition: transform 0.5s ease-out;
  transform-origin: top right;
}
.meals .dishes-list .dish-price-tick .dish-tick__icon {
  transform: rotateZ(-360deg);
  transition: transform 0.5s ease-out;
}
.meals .dishes-list .dish:hover {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease-out;
}
.meals .btn {
  align-self: center;
  margin: 40px auto;
  padding: 15px 45px;
}
@media only screen and (min-width: 992px) {
  .meals .btn {
    margin: 0 auto 15px;
  }
}

/*# sourceMappingURL=style.css.map */
