* {
    font-family: "Roboto", sans-serif;
}

.header__previous {
    @include tablet-version {
        font-size: 1.2em;
    }
    @include desktop-version {
        font-size: 1.8em;
    }
}

.location {
    font-weight: 500;
    color: $colour-location-grey;
    &__icon {
        @include desktop-version {
            font-size: 1.2em;
        }
    }
    &__txt {
        @include desktop-version {
            font-size: 1.2em;
        }
    }
}

.xploration {
    &__ttl {
        font-size: 1.6em;
        @include desktop-version {
            font-size: 2em;
        }
    }
    &__txt {
        font-weight: 300;
        @include desktop-version {
            font-size: 1.2em;
        }
    }
}

.functioning__ttl {
    @include desktop-version {
        font-size: 1.8em;
    }
}

.rule {
    font-weight: 500;
    @include tablet-version {
        font-size: 1.1em;
    }
    &__prepend {
        color: $colour-white;
        @include desktop-version {
            font-size: 1.2em;
        }
    }
    &__icon {
        @include desktop-version {
            font-size: 1.5em;
        }
    }
    &__txt {
        @include desktop-version {
            font-size: 1.2em;
        }
    }
}

.restaurants__ttl {
    @include desktop-version {
        font-size: 1.8em;
    }
}

.card-footer {
    &-name {
        &__ttl {
            font-size: 1.1em;
            @include desktop-version {
                font-size: 1.2em;
            }
        }
        &__txt {
            font-weight: 300;
            @include desktop-version {
                font-size: 1.1em;
            }
        }
    }
    &-label {
        .card-footer__icon {
            @include desktop-version {
                font-size: 1.8em;
            }
        }
        .card-footer__icon--checked {
            @include desktop-version {
                font-size: 1.8em;
            }
            &::before {
                color: transparent;
                font-weight: bold;
            }
        }
    }
}

.menu__icon--checked {
    &::before {
        color: transparent;
        font-weight: bold;
    }
}

.meals-header__ttl {
    @include desktop-version {
        font-size: 2em;
    }
}

.menu-label {
    @include desktop-version {
        font-size: 1.4em;
    }
}

.dishes-list {
    &__ttl {
        font-weight: 300;
        font-size: 1em;
        text-transform: uppercase;
        @include desktop-version {
            font-size: 1.2em;
        }
    }
    .dish {
        &-name {
            &__ttl {
                font-size: 1em;
            }
            &__txt {
                font-size: .9em;
                font-weight: 300;
            }
        }
        &-price__txt {
            font-weight: bold;
        }
        &-tick {
            color: $colour-white;
        }
    }
}

.footer {
    color: $colour-white;
    &__ttl {
        font-family: "Shrikhand", cursive;
        font-size: medium;
        @include desktop-version {
            font-size: 1.2em;
        }
    }
    .links {
        font-weight: 500;
        &__link:hover {
            font-style: italic;
        }
    }
}