* {
    font-family: "Roboto", sans-serif;
}

.location {
    font-weight: 500;
    color: $colour-location-grey;
}

.xploration {
    &__ttl {
        font-size: 1.6em;
    }
    &__txt {
        font-weight: 300;
    }
    &__btn {
        color: $colour-white;
        font-weight: 600;
    }
}

// .functioning {
.rule {
    font-weight: 500;
    &__prepend {
        color: $colour-white;
    }
}

// }
// .restaurants {
.card-footer {
    &-name {
        &__ttl {
            font-size: 1.1em;
        }
        &__txt {
            font-weight: 300;
        }
    }
    &-label {
        .card-footer__icon--checked {
            &::before {
                color: transparent;
                font-weight: bold;
            }
        }
    }
}

// }
// .meals {
.menu__icon--checked {
    &::before {
        color: transparent;
        font-weight: bold;
    }
}

.dishes-list {
    &__ttl {
        font-weight: 300;
        font-size: 1em;
        text-transform: uppercase;
    }
    .dish {
        &-name {
            &__ttl {
                font-size: 1em;
            }
            &__txt {
                font-size: .9em;
                font-weight: 300;
            }
        }
        &-price__txt {
            font-weight: bold;
        }
    }
}

// }
.footer {
    color: $colour-white;
    &__ttl {
        font-family: "Shrikhand", cursive;
        font-size: medium;
    }
    .links {
        font-weight: 500;
        &__link:hover {
            font-style: italic;
        }
    }
}