* {
    font-family: 'Roboto', sans-serif;
}

.location {
    font-weight: 500;
    color: $colour-location-grey;
}

.footer {
    color: $colour-white;
    &__ttl {
        font-family: 'Shrikhand', cursive;
        font-size: medium;
    }
    & .links {
        font-weight: 500;
    }
}