.location {
    background-color: $colour-dark-grey;
    box-shadow: inset 0 .2em rgba(0, 0, 0, 0.1);
    @include flex-center-center;
    @include desktop-version {
        padding: 30px 15%;
    }
    &__icon {
        position: absolute;
        left: calc(50% - 80px);
        @include desktop-version {
            left: calc(50% - 100px);
        }
    }
    &__txt {
        position: relative;
        @include desktop-version {
            margin: 0;
        }
    }
}

.xploration {
    background-color: $colour-light-grey;
    padding: 50px 30px;
    text-align: center;
    @include desktop-version {
        padding: 80px 15%;
    }
    &__ttl {
        margin-top: 0;
    }
    &__txt {
        margin-bottom: 30px;
        @include desktop-version {
            margin-top: 30px;
            margin-bottom: 60px;
        }
    }
    .btn {
        padding: 15px 20px;
        @include desktop-version {
            padding: 20px 25px;
        }
    }
}

.functioning {
    padding: 20px;
    @include tablet-version {
        padding: 30px 50px;
    }
    @include desktop-version {
        padding: 50px 15%;
    }
    &__ttl {
        @include tablet-version {
            margin-bottom: 30px;
        }
    }
    .rules {
        counter-reset: counterRule;
        @include desktop-version {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        .rule {
            background-color: $colour-light-grey;
            display: flex;
            align-items: center;
            margin-left: 15px;
            margin-bottom: 20px;
            padding: 10px 30px;
            border-radius: 25px;
            @include shadow-box;
            transition: all .3s ease-out;
            @include tablet-version {
                margin: 0 60px 30px 75px;
            }
            @include desktop-version {
                position: relative;
                width: 40%;
                margin: 30px 15px 30px 25px;
            }
            &:hover {
                background-color: #9256dc32;
                @include shadow-box-hover;
                transition: all .3s ease-out;
                .rule__icon {
                    color: $colour-primary;
                }
            }
            &__prepend {
                counter-increment: counterRule;
                position: absolute;
                left: 22px;
                background-color: $colour-primary;
                padding: 3px 8px;
                border-radius: 50%;
                &::after {
                    content: counter(counterRule);
                }
                @include tablet-version {
                    left: 110px;
                }
                @include desktop-version {
                    left: -15px;
                    padding: 5px 10px;
                }
            }
            &__icon {
                margin-right: 20px;
                color: rgba(0, 0, 0, 0.5);
                @include desktop-version {
                    margin: 0 30px 0 15px;
                }
            }
        }
    }
}

.restaurants {
    background-color: $colour-light-grey;
    padding: 50px 20px;
    @include tablet-version {
        padding: 50px;
    }
    @include desktop-version {
        padding: 50px 15%;
    }
    .cards {
        @include desktop-version {
            margin: 80px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .card {
            background-color: $colour-white;
            border-radius: 15px;
            margin-bottom: 20px;
            @include shadow-box;
            @include tablet-version {
                margin: 50px;
            }
            @include desktop-version {
                width: 45%;
                position: relative;
                margin: 30px 10px;
                border-radius: 30px;
            }
            &:hover {
                @include shadow-box-hover;
            }
            &-img {
                display: flex;
                height: 180px;
                border-radius: 15px 15px 0 0;
                @include desktop-version {
                    height: 250px;
                    border-radius: 30px 30px 0 0;
                }
                // @include bg-img-restaurants($img-url);
                // position: relative;
                // &__img {
                // width: 100%;
                // position: absolute;
                // }
            }
            &:nth-child(1) {
                .card-img {
                    background: center / cover url($palette-img-url);
                }
            }
            &:nth-child(2) {
                .card-img {
                    background: center / cover url($note-img-url);
                }
            }
            &:nth-child(3) {
                .card-img {
                    background: center / cover url($francaise-img-url);
                }
            }
            &:nth-child(4) {
                .card-img {
                    background: center / cover url($delice-img-url);
                }
            }
            &-footer {
                @include flex-between-center;
                padding: 20px 20px 20px 15px;
                @include desktop-version {
                    padding: 30px 30px 30px 25px;
                }
                &-name {
                    width: 90%;
                    &__ttl {
                        margin: 0 0 5px;
                        @include desktop-version {
                            margin-bottom: 10px;
                        }
                    }
                    &__txt {
                        margin: 0;
                    }
                }
                &__input {
                    display: none;
                    &:checked~.card-footer-label {
                        .card-footer__icon {
                            transform: scaleY(0);
                            transition: transform .5s ease-out;
                        }
                        .card-footer__icon--checked {
                            transform: scaleY(1);
                            transition: transform .5s ease-out;
                            &::before {
                                background-clip: text;
                                background-image: linear-gradient(to top left, #9256dcd8 .5%, $colour-secondary 100%);
                            }
                        }
                    }
                }
                &-label {
                    cursor: pointer;
                    .card-footer__icon {
                        position: absolute;
                        right: 40px;
                        transform: scaleY(1);
                        transition: transform .5s ease-out;
                        @include tablet-version {
                            right: 130px;
                        }
                    }
                    .card-footer__icon--checked {
                        position: absolute;
                        right: 40px;
                        transform: scaleY(0);
                        transition: transform .5s ease-out;
                        @include tablet-version {
                            right: 130px;
                        }
                        &::before {
                            background-clip: text;
                            background-image: linear-gradient(to top left, #9256dcd8 .5%, $colour-secondary 100%);
                        }
                    }
                }
            }
        }
    }
}