.location {
    background-color: $colour-dark-grey;
    box-shadow: inset 0 .2em rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__icon {
        text-align: right;
        width: 33%;
        padding-right: 15px;
    }
    &__txt {
        width: 67%;
    }
}

.xploration {
    background-color: $colour-light-grey;
}

.rule {
    background-color: $colour-light-grey;
}

.restaurants {
    background-color: $colour-light-grey;
    & .card {
        background-color: $colour-white;
    }
}