.main__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: fixed;
    top: 64px;
}

.meals {
    border-radius: 30px 30px 0 0;
    background-color: $colour-light-grey;
    padding: 30px 15px;
    position: relative;
    top: 220px;
    margin-bottom: 220px;
    &-header {
        @include flex-between-center;
        &__ttl {
            font-family: "Shrikhand", cursive;
            font-size: 1.8em;
            margin: 0;
        }
        .menu {
            &__input {
                display: none;
                &:checked~.menu-label {
                    .menu__icon {
                        transform: scaleY(0);
                        transition: transform .5s ease-out;
                    }
                    .menu__icon--checked {
                        transform: scaleY(1);
                        transition: transform .5s ease-out;
                        &::before {
                            background-clip: text;
                            background-image: linear-gradient(to top left, #9256dcd8 .5%, $colour-secondary 100%);
                        }
                    }
                }
            }
            &-label {
                cursor: pointer;
                .menu__icon {
                    position: absolute;
                    right: 30px;
                    transform: scaleY(1);
                    transition: transform .5s ease-out;
                }
                .menu__icon--checked {
                    position: absolute;
                    right: 30px;
                    transform: scaleY(0);
                    transition: transform .5s ease-out;
                    &::before {
                        background-clip: text;
                        background-image: linear-gradient(to top left, #9256dcd8 .5%, $colour-secondary 100%);
                    }
                }
            }
        }
    }
    .dishes-list {
        margin-top: 30px;
        &__ttl {
            margin: 0;
        }
        &__line {
            width: 40px;
            height: 3px;
            background-color: $colour-tertiary;
            margin-top: 5px;
        }
        .dish {
            margin: 15px 0 10px;
            border-radius: 15px;
            background-color: $colour-white;
            animation: translate-top 1s ease-out;
            @include shadow-box;
            display: flex;
            align-items: center;
            // @include flex-between-center;
            &-name {
                width: 80%;
                margin: 12px 0 12px 10px;
                &__ttl {
                    @include elipsis;
                    margin: 0 0 5px 0;
                }
                &__txt {
                    @include elipsis;
                    margin: 0;
                }
            }
            &-price {
                margin: 12px 10px 12px 0;
                width: 20%;
                // align-self: end;
                height: 40px;
                display: flex;
                align-items: end;
                justify-content: center;
                &__txt {
                    margin: 0;
                }
            }
            &-tick {
                display: none;
            }
            &:hover {
                .dish {
                    &-name {
                        width: 60%;
                    }
                    &-price {
                        margin-right: 0;
                    }
                    &-tick {
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 20%;
                        cursor: pointer;
                        background-color: $colour-tertiary;
                    }
                }
                @include shadow-box-hover;
            }
        }
    }
}