@keyframes beat {
    0% {
        transform: scale(.9);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(.9);
    }
}

@keyframes translate-top {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }
}