@mixin a {
    text-decoration: none;
    color: inherit;
}

@mixin shadow-box {
    // box-shadow: 5px 2px 0.5em rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    // box-shadow: 0 0 2em black;
}

@mixin shadow-box-hover {
    // box-shadow: 5px 2px 0.5em rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
    // box-shadow: 0 0 2em black;
}

// @mixin bg-img-restaurants($restaurants) {
//     @each $restaurant,
//     $url in $restaurants {
//         background: center / cover url($url);
//     }
// }
@mixin new {
    background-color: $colour-tertiary;
    color: darken($colour-tertiary, 40%);
    display: block;
    width: max-content;
    position: absolute;
    right: 35px;
    margin-top: 15px;
    padding: 8px 10px;
    border-radius: 2px;
    font-weight: 600;
    font-size: .8em;
}