@mixin a {
    text-decoration: none;
    color: inherit;
}

@mixin shadow-box {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    transition: box-shadow .3s ease-out;
}

@mixin shadow-box-hover {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
    transition: box-shadow .3s ease-out;
}

@mixin btn {
    color: $colour-white;
    font-weight: 600;
    cursor: pointer;
    background-image: linear-gradient(to top left, $colour-primary 10%, $colour-secondary 100%);
    border: none;
    border-radius: 30px;
    // padding: 15px 20px;
    @include shadow-box;
    transition: all .3s;
    &:hover {
        cursor: pointer;
        background-image: linear-gradient(to top left, #9256dcd8 .5%, $colour-secondary 100%);
        @include shadow-box-hover;
        transition: all .3s;
    }
}

// @mixin bg-img-restaurants($restaurants) {
//     @each $restaurant,
//     $url in $restaurants {
//         background: center / cover url($url);
//     }
// }
@mixin new {
    background-color: $colour-tertiary;
    color: darken($colour-tertiary, 40%);
    display: block;
    width: max-content;
    position: absolute;
    right: 35px;
    margin-top: 15px;
    padding: 8px 10px;
    border-radius: 2px;
    font-weight: 600;
    font-size: .8em;
    animation: beat 2.5s infinite;
}

@mixin elipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}