$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: #fff;
$colour-back-footer: #353535;
$colour-light-grey: #F6F6F6;
$colour-dark-grey: #EAEAEA;
$colour-location-grey: #373737;